
/* CSS Document */
/*  HTML5 ✰ Boilerplate  */



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  color:#404040;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #222222; color:#fff; text-shadow: none; }
::selection { background:#F73332; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
	color: #4C4C4C;
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited {
	color: #64DAEC;
}
a:hover {
	color: #C1C2C0;
}


/* Essentials HTML5*/



html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
} 

html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
background: #F8F8F8;
font-size: 12px;
}

.clear {
clear: both;
}

.spacer {
height: 20px;
}

a:link, a:visited {
color: #77BACE;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}


/* Header */

header#header {
height: 55px;
width: 100%;
background: #222222 url(../../img/admin/header_bg.png) repeat-x;
}

header#header h1.site_title, header#header h2.section_title {
float: left;
margin: 0;
font-size: 22px;
display: block;
width: 23%;
height: 55px;
font-weight: normal;
text-align: left;
text-indent: 1.8%;
line-height: 55px;
color: #fff;
text-shadow: 0 -1px 0 #000;
}

header#header h1.site_title a {
color: #fff;
text-decoration: none;
}

header#header h2.section_title {
text-align: center;
text-indent: 4.5%;
width: 68%;
background: url(../../img/admin/header_shadow.png) no-repeat left top;
}

.btn_view_site {
float: left;
width: 9%;
}

.btn_view_site a {
display: block;
margin-top: 12px;
width: 91px;
height: 27px;
background: url(../../img/admin/btn_view_site.png) no-repeat;
text-align: center;
line-height: 29px;
color: #fff;
text-decoration: none;
text-shadow: 0 -1px 0 #000;}

.btn_view_site a:hover {
background-position: 0 -27px;
}

/* Secondary Header Bar */

section#secondary_bar {
height: 38px;
width: 100%;
background: #F1F1F4 url(../../img/admin/secondary_bar.png) repeat-x;
}

section#secondary_bar .user {
float: left;
width: 23%;
height: 38px;
}

.user p {
margin: 0;
padding: 0;
color: #666666;
font-weight: bold;
display: block;
float: left;
width: 85%;
height: 35px;
line-height: 35px;
text-indent: 25px;
text-shadow: 0 1px 0 #fff;
background: url(../../img/admin/icn_user.png) no-repeat center left;
margin-left: 6%;
}

.user a {
text-decoration: none;
color: #666666}

.user a:hover {
color: #77BACE;
}

.user a.logout_user {
float: left;
display: block;
width: 16px;
height: 35px;
text-indent: -5000px;
background: url(../../img/admin/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */

section#secondary_bar .breadcrumbs_container {
float: left;
width: 77%;
background: url(../../img/admin/secondary_bar_shadow.png) no-repeat left top;
height: 38px;
}

article.breadcrumbs {
float: left;
padding: 0 10px;
border: 1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
height: 23px;
margin: 4px 3%;
}

.breadcrumbs a {
display: inline-block;
float: left;
height: 24px;
line-height: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
color: #9E9E9E;
font-weight: bold;
text-shadow: 0 1px 0 #fff;
text-decoration: none;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
color: #44474F;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
font-weight: bold;}

.breadcrumbs a:hover {
color: #222222;
}

.breadcrumb_divider {
display: inline-block;
width: 12px;
height: 24px;
background: url(../../img/admin/breadcrumb_divider.png) no-repeat;
float: left;
margin: 0 5px;
}

/* Sidebar */

aside#sidebar {
width: 23%;
background: #E0E0E3 url(../../img/admin/sidebar.png) repeat;
float: left;
min-height: 500px;
margin-top: -4px;
}

#sidebar hr {
border: none;
outline: none;
background: url(../../img/admin/sidebar_divider.png) repeat-x;
display: block;
width: 100%;
height: 2px;}


/* Search */

.quick_search {
text-align: center;
padding: 14px 0 10px 0;
}

.quick_search input[type=text] {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border: 1px solid #bbb;
height: 26px;
width: 90%;
color: #ccc;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
text-indent: 30px;
background: #fff url(../../img/admin/icn_search.png) no-repeat;
background-position: 10px 6px;
}

.quick_search input[type=text]:focus {
outline: none;
color: #666666;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

/* Sidebar Menu */

#sidebar h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 10px 0 10px 6%;
display: block;
float: left;
width: 90%;
}

.toggleLink {
color: #999999;
font-size: 10px;
text-decoration: none;
display: block;
float: right;
margin-right: 2%
}

#sidebar .toggleLink:hover {
color: #77BACE;
text-decoration: none;
}

#sidebar ul {
clear: both;
margin: 0; padding: 0;
}

#sidebar li {
list-style: none;
margin: 0 0 0 12%; padding: 0;
}

#sidebar li a {
color: #666666;
padding-left: 25px;
text-decoration: none;
display: inline-block;
height: 17px;
line-height: 17px;
text-shadow: 0 1px 0 #fff;
margin: 2px 0;
}

#sidebar li a:hover {
color: #444444;
}

/* Sidebar Icons */

#sidebar li.icn_new_article a {
background: url(../../img/admin/icn_new_article.png) no-repeat center left;
}
#sidebar li.icn_edit_article a {
background: url(../../img/admin/icn_edit_article.png) no-repeat center left;
}
#sidebar li.icn_categories a {
background: url(../../img/admin/icn_categories.png) no-repeat center left;
}
#sidebar li.icn_emails a {
background: url(../../img/admin/icn_email.png) no-repeat center left;
}
#sidebar li.icn_tags a {
background: url(../../img/admin/icn_tags.png) no-repeat center left;
}
#sidebar li.icn_add_user a {
background: url(../../img/admin/icn_add_user.png) no-repeat center left;
}
#sidebar li.icn_view_users a {
background: url(../../img/admin/icn_view_users.png) no-repeat center left;
}
#sidebar li.icn_profile a {
background: url(../../img/admin/icn_profile.png) no-repeat center left;
}
#sidebar li.icn_folder a {
background: url(../../img/admin/icn_folder.png) no-repeat center left;
}
#sidebar li.icn_photo a {
background: url(../../img/admin/icn_photo.png) no-repeat center left;
}
#sidebar li.icn_photo_crop a {
background: url(../../img/admin/icn_image_crop.png) no-repeat center left;
}
#sidebar li.icn_audio a {
background: url(../../img/admin/icn_audio.png) no-repeat center left;
}
#sidebar li.icn_video a {
background: url(../../img/admin/icn_video.png) no-repeat center left;
}
#sidebar li.icn_settings a {
background: url(../../img/admin/icn_settings.png) no-repeat center left;
}
#sidebar li.icn_security a {
background: url(../../img/admin/icn_security.png) no-repeat center left;
}
#sidebar li.icn_jump_back a {
background: url(../../img/admin/icn_jump_back.png) no-repeat center left;
}
#sidebar li.icn_filetype a {
background: url(../../img/admin/icn_filetype.png) no-repeat center left;
}

#sidebar p {
color: #666666;
padding-left: 6%;
text-shadow: 0 1px 0 #fff;
margin: 10px 0 0 0;}

#sidebar a {
color: #666666;
text-decoration: none;
}

#sidebar a:hover {
text-decoration: underline;
}

#sidebar footer {
margin-top: 20%;
}


/* Main Content */


section#main {
width: 77%;
min-height: 500px;
background: url(../../img/admin/sidebar_shadow.png) repeat-y left top;
float: left;
margin-top: -2px;
}

#main h3 {
color: #1F1F20;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 20px;
}

/* Modules */

.module {
border: 1px solid #9BA0AF;
width: 100%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
}

#main .module header h3 {
    display: block;
    float: left;
    width: 200px;
}

.module header {
 height: 34px;
 margin-bottom: 5px;
background: #F1F1F4 url(../../img/admin/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
height: 11px;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../../img/admin/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
padding: 11px;
color:#666;
}

.module_content {
margin: 10px 20px;
color: #666;}

/* Module Widths */

.width_full {
width: 95%;
margin-bottom: 20px;
}

.width_half {
width: 46%;
margin-right: 0;
float: left;
}

.width_quarter {
width: 26%;
margin-right: 0;
float: left;
}

.width_3_quarter {
width: 66%;
margin-right: 0;
float: left;
margin-bottom: 20px;
}

/* Stats Module */

.stats_graph {
width: 64%;
float: left;
}

.stats_overview {
background: #F6F6F6;
border: 1px solid #ccc;
float: right;
width: 26%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.overview_today, .overview_previous {
width: 50%;
float: left;}

.stats_overview p {
margin: 0; padding: 0;
text-align: center;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
}

.stats_overview p.overview_day {
font-size: 12px;
font-weight: bold;
margin: 6px 0;
}

.stats_overview p.overview_count {
font-size: 26px;
font-weight: bold;
color: #333333;}

.stats_overview p.overview_type {
font-size: 10px;
color: #999999;
margin-bottom: 8px}

/* Content Manager */

.tablesorter {
width: 100%;
margin: -5px 0 0 0;
}

.tablesorter td{
margin: 0;
padding: 0;
border-bottom: 1px dotted #ccc;
}

.tablesorter thead tr {
height: 34px;
background: url(../../img/admin/table_sorter_header.png) repeat-x;
text-align: left;

cursor: pointer;
}

.tablesorter td {
padding: 15px 10px;
}

.tablesorter input[type=image] {
margin-right: 10px;}

ul.tabs {
	margin: 3px 10px 0 0;
	padding: 0;
	float: right;
	list-style: none;
	height: 24px; /*--Set height of tabs--*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	border: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
ul.tabs li a {
	text-decoration: none;
	color: #999;
	display: block;
	padding: 0 10px;
	height: 24px;
}

ul.tabs li a:hover {
	color: #44474F;
}

html ul.tabs li.active a  {
	color: #44474F;
	}

html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #F1F2F4;
	-webkit-box-shadow: inset 0 2px 3px #818181;
	-moz-box-shadow: inset 0 2px 3px #818181;
	box-shadow: inset 0 2px 3px #818181;
}

html ul.tabs li:first-child, html ul.tabs li:first-child a  {
	-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child, html ul.tabs li:last-child a  {
	-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved {
display: block;
width: 60%;
float: left;
}

/* Messages */

.message {
    border-bottom: 1px dotted #CCCCCC;
    padding: 10px;
}

input[type=submit] {
background: #D0D1D4 url(../../img/admin/btn_submit.png) repeat-x;
border: 1px solid #A8A9A8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
}

input[type=submit]:hover {
color: #333333;
}

input[type=submit].alt_btn {
background: #D0D1D4 url(../../img/admin/btn_submit_2.png) repeat-x;
border: 1px solid#30B0C8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #003E49;
text-shadow: 0 1px 0 #6CDCF9;
cursor: pointer;
}

input[type=submit].alt_btn:hover {
color: #001217;
}

input[type=submit].btn_post_message {
background: #D0D1D4 url(../../img/admin/post_message.png) no-repeat;
display: block;
width: 37px;
border: none;
height: 24px;
cursor: pointer;
text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
background-position: 0 -24px;
}

.post_message {
text-align: left;
padding: 5px 0;
}

.post_message input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #bbb;
height: 20px;
width: 70%;
color: #ccc;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
text-indent: 10px;
background-position: 10px 6px;
float: left;
margin: 0 3.5%;
}

.post_message input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
color: #666666;
}

.post_message input[type=image] {
float: left;
}

.message_list {
height: 250px;
overflow-x:hidden;
overflow-y: scroll;
}

/* New/Edit Article Module */

fieldset {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F6F6F6;
border: 1px solid #ccc;
padding: 1% 0%;
margin: 10px 0;
}

fieldset label {
display: block;


height: 25px;
line-height: 25px;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
padding-left: 10px;
margin: -5px 0 5px 0;
text-transform: uppercase;
}

fieldset input[type=text] {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
height: 20px;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding-left: 10px;
background-position: 10px 6px;
margin: 0;
display: block;
float: left;
width: 87%;
margin: 0 10px;
}

fieldset input[type=text]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
    border: 1px solid #BBBBBB;
    color: #666666;
    height: 28px;
    margin: 0 10px;
    padding: 5px;
    width: 96%;
}

fieldset textarea {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #BBBBBB;
color: #666666;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
padding: 10px;
background-position: 10px 6px;
margin: 0 0.5%;
display: block;
float: left;
width: 82%;
margin: 0 10px;
}

fieldset textarea:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

.submit_link {
float: right;
margin-right: 3%;
padding: 5px 0;
}

.submit_link select {
width: 150px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

#main .module_content h1 {
color: #333333;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 22px;
margin: 8px 0px;
}

#main .module_content h2 {
color: #444444;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
margin: 8px 0px;
}

#main .module_content h3 {
color: #666666;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content h4 {
color: #666666;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

#main .module_content li {
line-height: 150%;
}

/* Alerts */

#main h4.alert_info {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #B5E5EF url(../../img/admin/icn_alert_info.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_warning {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #F5F3BA url(../../img/admin/icn_alert_warning.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

#main h4.alert_error {

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: url("../../img/admin/icn_alert_error.png") no-repeat scroll 10px 10px #F3D9D9;
    border: 1px solid #D20009;
    border-radius: 5px 5px 5px 5px;
    color: #7B040F;
    display: block;
    font-size: 14px;
    margin: 20px 0;
    padding: 10px 0;
    text-indent: 40px;
    width: 95%;
}

#main h4.alert_success {
display: block;
width: 95%;
margin: 20px 3% 0 3%;
margin-top: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #E2F6C5 url(../../img/admin/icn_alert_success.png) no-repeat;
background-position: 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
padding: 10px 0;
text-indent: 40px;
font-size: 14px;}

fieldset.half_width {
    float: left;
    margin-right: 2%;
    margin-top: 10px;
    width: 48%;
}
fieldset.half {
    clear: right;
    float: left;
    margin-right: 5px;
    width: 48%;
}
fieldset.half_single{
    width:21%;
	background: none repeat scroll 0 0 transparent;
	border:none;
}

fieldset.half_single label{
    width:100px;
	font-variant:normal;
}
fieldset.trescuartos_width{
    width:78%; float:left; margin-right: 3%;
}
fieldset.uncuarto{
   width:18%; float:left; clear:right; 
}
.imagenes_listados{
    border: 1px solid #000;
}
.imagenes_detalles {
    border: 1px solid #000000;
    max-height: none;
    width: 50%;
}
.imagenes_crops {
    background-image: url("/app/webroot/img/crop.png");
    background-repeat: no-repeat;
    
    clear: left;
    float: left;
    height: 50px;
    margin-bottom: 15px;
    margin-right: 40px;
	width:50px;
    overflow: hidden;
}

.imagenes_relacionadas {
    border: 1px solid #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 100px;
    margin: 10px 5px 5px;
    padding: 30px 10px 25px;
    position: relative;
    text-align: center;
}
 .videos_relacionados {
    border: 1px solid #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 140px;
    margin: 10px 5px 5px;
    padding: 8px 5px 5px 8px;
    position: relative;
    text-align: justify;
    width: 227px;
}
.audios_relacionados, .links_relacionados, .ficheros_relacionados{
    margin: 5px;
}
.imagenes_relacionadas img{
    max-width: 60px;
    border: 1px solid #000; 
}
.videos_relacionados iframe {
    max-height: 120px !important;
    width: 200px !important;
}
.multimedia_related {
    float: left;
    margin-bottom: 20px;
    margin-left: -5px;
    margin-top: 0;
    position: relative;
	min-height: 79px;
}


.multimedia_related .ui-button {
    position: absolute;
    right: 0;
    top: 2px;
    width: 200px;
}

.paging {
	float:right;
	color:#666;
}

.disabled{
	color:#666;
	
}
.actions{
	width:57px;
	
}

.input.checkbox.required{
	
	
}
.submit {
    clear: left;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 96%;
}

article header{
	
	
}

article.module header{
	padding-right: 10px;
	padding-left: 10px;	
}


.mm_paginacion {
    clear: left;
   text-align: right;
    margin-top: 15px;
	color:#797979
}
.elimina_multimedia {
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.adjunta_multimedia{
	 padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
	
}

#contenidos_mm_imagenes{
	
	
	
}

a.elimina_multimedia{
	
	
	
}

 .imagenes_relacionadas img {


 }
 
 .imagenes_relacionadas  {


 }
 .mm_filtros p {
	 margin-top: 10px;
	 margin-bottom:10px;
	 float:left;
	 
 }
 
 .mm_filtros li {
    float: left;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-top: 10px;
}
   .mm_filtros ul {
	overflow: hidden;
	
	 
 }
 .tablesorter th{
	 padding:10px;
	 
	 
 }
 

.module_content dt {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    width: 150px;
}

.module_content dd {
    margin-bottom: 10px;
    overflow: hidden;
}
.required label {
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 175px;
}

.required input {
   
    margin-bottom: 10px;
    margin-right: 10px;
}

.audios_relacionados {
    background-image: url("/app/webroot/img/audio.png");
    background-position: center 6px;
    background-repeat: no-repeat;
    border: 1px solid #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    height: 30px;
    padding: 73px 10px 10px;
    position: relative;
    width: 120px;
	float: left;
	overflow: hidden;
	
}

.links_relacionados {
    border: 1px solid #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    height: 15px;
    padding: 7px 10px 10px;
    position: relative;
   width: 83%;
	text-align: center;
}


.ficheros_relacionados {
    border: 1px solid #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    height: 15px;
    padding: 7px 10px 10px;
    position: relative;
    width: 81%;
	text-align: center;
}
#accordion ul li {
    border: 1px solid #9E9E9E;
    border-radius: 5px 5px 5px 5px;
    height: 52px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}

#accordion ul li b {
	
}

.ui-button {
    margin-left: 10px;
}

.ui-dialog-buttonset .ui-button{
	
	    margin: 10px;
    position: relative !important;
    right: 7px;
    top: 0;
	
	
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: visible!important;
    padding: 0.5em 1em;
    position: relative;
}

.fileupload-buttonbar {
	position:relative;
}
.fileinput-button{
	position:absolute;
	right:142px;
	
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    clear: left;
    float: right;
}

.ui-widget input{
	margin-right: 30px;
	border: 1px solid #BFCBAA;
	padding: 5px;
}

.mm_filtros{
	height: 35px;
	overflow:hidden;
	
}

#wrap{
	padding:10px!important;
	
}

#imagenes_categorias {
    float: right;
    font-size: 12px;
    height: 26px;
    margin-top: 3px;
    padding: 4px 0 0;
    width: 149px;
}

#imagenes_categorias option {
    font-size: 12px;
    padding: 3px;
}
.generar{
	float: right;
}